:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}